.main-section {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 70vh;
}

.home-section {
    height: inherit;
}

.open-menu,
.close-menu {
    display: none;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.header__main {
    justify-content: flex-start;
    font-size: 1.6rem;
}

.nav-bar {
    transform: scale(1);
    background-color: transparent;
    position: relative;
    height: auto;
}

.slides-buttons {
    right: -140px;
    height: 65px;
    width: 140px;
}

.shop-section {
    padding: 100px 80px;
    height: inherit;
}

.description {
    font-size: 1.4rem;
    margin: 20px 0;
    height: auto;
}

.about-us {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 30vh;
}

.about-us__content {
    padding: 50px;
}