:root {
    --dark-gray: hsl(0, 0%, 63%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --black-color: hsl(0, 0%, 0%);
    White: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}

.backgd-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-section {
    background-image: url(../assets/imgs/mobile-image-hero-1.jpg);
    position: relative;
    padding: 35px 25px;
    height: 350px;
    width: 100%;
}

.header__main {
    display: flex;
    justify-content: center;
    position: relative;
}

.open-menu-btn {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
}

.menu-icon {
    color: var(--dark-gray);
    font-size: 1.4rem;
}

.title {
    color: #fff;
    font-weight: 600;
}

.nav-bar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 200ms ease-in-out;
    height: 100px;
    width: 100%;
}

.nav-bar.active {
    transform: scale(1);
}

.nav-bar__list {
    color: #000;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: 700;
    list-style: none;
    margin-left: 30px;
    width: 80%;
}

.nav-buttons {
    background-color: #000;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100px;
}

.button {
    background-color: transparent;
    border: none;
    width: 50%;
}

.button:active {
    background-color: var(--very-dark-gray);
}


/*** Shop Section ***/
.shop-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 25px;
    height: 400px;
}
.shop__title {
    color: #000;
    font-size: 3rem;
}

.description {
    color: var(--dark-gray);
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 50px;
}

.shop__button {
    background-color: white;
    border: none;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    text-align: left;
}

.shop__button:active {
    color: var(--dark-gray);
}

.icon-arrow {
    margin-left: 15px;
}

/** About us Section **/
.image {
    height: 250px;
}

.about-us__dark {
    background-image: url(../assets/imgs/image-about-dark.jpg);
}

.about-us__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 25px 10px;
}

.about-us__title {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.about-us__light {
    background-image: url(../assets/imgs/image-about-light.jpg);
}