:root {
    --primary-color: hsl(228, 56%, 26%); /*Dark-Blue*/
    --secundary-color: hsl(229, 57%, 11%); /*Darker-Blue*/
    --light-color: hsl(243, 100%, 93%); /*Pale-Blue*/
    --grey-color: hsl(229, 7%, 55%); /*Grayish-Blue*/
    /* --storage-bar-color: hsl(6, 100%, 80%) to hsl(335, 100%, 65%); Gradient */
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

.main-container {
    background-color: var(--secundary-color);
    background-image: url(../assets/imgs/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 600px;
    min-width: 375px;
}

.files-section {
    background-color: var(--primary-color);
    border-radius: 10px;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 25px 35px;
    height: 200px;
    min-width: 320px;
    max-width: 330px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.icon {
    background-color: var(--secundary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2.3rem;
    height: 50px;
    width: 50px;
}

.storage-section {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 30px;
    position: relative;
    height: 150px;
    min-width: 320px;
    max-width: 600px;
}

.storage-section__title {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.storage-used {
    margin-bottom: 10px;
}

.storage-bar {
    background-color: var(--secundary-color);
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
    padding: 2px;
    height: 20px;
}

.storage-bar__progress {
    background: rgb(255,163,153);
    background: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%));
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    width: 81.5%;
}

.storage-bar__pointer {
    background-color: white;
    border-radius: 50%;
    width: 12px;
}

.storage-counter {
    display: flex;
    justify-content: space-between;
}

.storage-amount {
    font-weight: 700;
    font-size: 1.2rem;
}

.storage-remaining {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    position: absolute;
    left: calc(50% - 85px);
    bottom: -35px;
    height: 70px;
    width: 170px;
}

.amount-left {
    color: var(--secundary-color);
    font-size: 4rem;
    font-weight: 700;
}

.remaining-label {
    color: var(--grey-color);
    font-size: 1.2rem;
    font-weight: 700;
}