body {
    background-image: url(./assets/imgs/bg-desktop.svg);
    padding: 0 50px;
}

.main-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
}

.header {
    grid-column: 1 / 3;
}

.image-section {
    justify-content: flex-start;
}

.subtitle {
    width: 50%;
    text-align: left;
}

.main-section {
    align-items:flex-start;
}

.main-info {
    text-align: left;
}

.register-btn {
    width: 150px;
}

.register-btn:hover {
    background-color: hsl(257, 40%, 50%);
    box-shadow: 0px 6px 6px rgb(0 0 0 / 40%);
    color: white;
    cursor: pointer;
}

.register-btn:active {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
    opacity: 70%;
}

.footer {
    height: 80px;
    justify-content: flex-end;
}

.icon:hover {   
    background-color: white;
    box-shadow: 0px 6px 6px rgb(0 0 0 / 20%);
    color: hsl(257, 40%, 50%)   ;
    cursor: pointer;
}